.actionIcons {
    display: flex;
    gap: 2em;
}

.actionIcons svg {
    font-size: 25px;
    color: var(--bgWhite);
}

.actionIcons svg:hover {
    cursor: pointer;
}

.actionIcons svg:active {
    filter: brightness(.8);
}
