.container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: .5rem;
}

.input {
  background-color: var(--bgWhite);
  border: var(--inputBorder);
  width: 100%;
  height: 32px;

  border-radius: 8px;
}

.input::placeholder {
    color: var(--lightGray);
    text-indent: var(--textIndent);
}

.textarea {
  background-color: var(--bgWhite);
  border: var(--inputBorder);
  width: 100%;
  border-radius: 8px;
  resize: none;
}

.textarea::placeholder {
  color: var(--lightGray);
  text-indent: var(--textIndent);
}