.button {
  width: 111px;
  height: 32px;
  border: none;
  border-radius: 8px;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  line-height: 19px;
}

.button:hover {
  cursor: pointer;
}

.button.blue {
  color: #ffffff;
  background-color: #7695ec;
}

.button.red {
  color: #ffffff;
  background-color: #ff5151;
}

.button.green {
  color: #ffffff;
  background-color: #47b960;
}

.button.white {
  color: #000;
  border: 1px solid #999;
  background-color: #fff;
}
