.button {
  width: 111px;
  height: 32px;
  border: none;
  border-radius: 8px;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  line-height: 19px;
  transition: .3s;
}


.button:hover {
  cursor: pointer;
  filter: brightness(1.1);
  transition: .3s;
}

.button:active {
  filter: brightness(.9);
  transition: 0s;
}

.button.blue {
  color: var(--bgWhite);
  background-color: var(--babyBlue);
}

.button.red {
  color: var(--bgWhite);
  background-color: var(--redButton);
}

.button.green {
  color: var(--bgWhite);
  background-color: var(--greenButton);
}

.button.white {
  color: #000;
  border: 1px solid #999;
  background-color: var(--bgWhite);
}

.button:disabled {
  background-color: var(--lightGray);
  cursor: not-allowed;
}

.button:disabled:active {
  filter: brightness(1);
}

.button:disabled:hover {
  filter: brightness(1);
}