.container {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    border-radius: 16px;
}

.titleArea {
    display: flex;
    justify-content: space-between;
    background-color: #7695EC;
    border-radius: 14px 14px 0 0;
    padding: 1em;
    color: #fff;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

.postInfos {
    display: flex;
    justify-content: space-between;
    color: #777;
    padding: 1em;
}

.userName {
    font-weight: bold;
    max-width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.contentArea {
    /* border: 2px solid red; */
    padding: 1em;
    padding-top: 0;
    text-align: left;
}
