.container {
    background-color: var(--bgWhite);
    border: var(--containerBorder);
    border-radius: var(--borderRadius);
}

.titleArea {
    display: flex;
    justify-content: space-between;
    background-color: #7695EC;
    border-radius: 13px 13px 0 0;
    padding: 1em;
    color: var(--bgWhite);
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.postInfos {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: var(--darkGray);
}

.userName {
    font-weight: bold;
    max-width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.contentArea {
    padding: 1em;
    padding-top: 0;
    text-align: left;
    overflow-wrap: break-word;
}
